<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paypalbr_paypalplus>
                <active>0</active>
                <model>PayPalPlusRemoteMethodAdapter</model>
                <order_status>pending_payment</order_status>
                <title>Cartão de Crédito (PayPal Plus)</title>
                <payment_action>authorize</payment_action>
                <exhibition_name>12x</exhibition_name>
                <mode>1</mode>
                <sort_order></sort_order>
                <depuration_mode></depuration_mode>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <allow_multiple_address>0</allow_multiple_address>
                <can_authorize>1</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <allow_multiple_address>1</allow_multiple_address>
                <toggle>0</toggle>
                <iframe_height_active>0</iframe_height_active>
                <webhook_id>0</webhook_id>
            </paypalbr_paypalplus>

            <paypalbr_expresscheckout>
                <active>0</active>
                <model>PayPalExpressCheckoutRemoteMethodAdapter</model>
                <order_status>pending_payment</order_status>
                <title>PayPal Express Checkout</title>
                <payment_action>authorize</payment_action>
                <exhibition_name>12x</exhibition_name>
                <mode>1</mode>
                <sort_order></sort_order>
                <depuration_mode></depuration_mode>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <allow_multiple_address>0</allow_multiple_address>
                <can_authorize>1</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <allow_multiple_address>1</allow_multiple_address>
                <toggle>0</toggle>
                <webhook_id>0</webhook_id>
            </paypalbr_expresscheckout>
        </payment>
    </default>
</config>
