<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="PayPalBR\PayPal\Api\WebHookManagementInterface" type="PayPalBR\PayPal\Model\WebHookManagement"/>
    <preference for="PayPalBR\PayPal\Api\EventsInterface" type="PayPalBR\PayPal\Model\Webhook\Event"/>
    <preference for="PayPalBR\PayPal\Gateway\Transaction\Base\Config\ConfigInterface" type="PayPalBR\PayPal\Gateway\Transaction\Base\Config\Config"/>
    <preference for="PayPalBR\PayPal\Api\PayPalPlusRequestDataProviderInterface" type="PayPalBR\PayPal\Gateway\Transaction\PayPalPlus\ResourceGateway\Create\RequestDataProvider"/>
    <preference for="Magento\Sales\Block\Order\Totals" type="PayPalBR\PayPal\Block\Order\Totals"/>

    <!-- PayPalExpressCheckout Adapter -->
    <virtualType name="PayPalExpressCheckoutRemoteMethodAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">PayPalBR\PayPal\Model\PayPalExpressCheckout::PAYMENT_METHOD_PAYPALEXPRESSCHECKOUT_CODE</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPalExpressCheckoutValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">PayPalExpressCheckoutCommandPool</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">PayPalBR\PayPal\Block\Payment\Info\PayPalExpressCheckout</argument>
        </arguments>
    </virtualType>

    <!-- Value Handler Pool -->
    <virtualType name="PayPalExpressCheckoutValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPalExpressCheckoutConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPalExpressCheckoutConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPalExpressCheckoutConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPalExpressCheckoutConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">PayPalBR\PayPal\Model\PayPalExpressCheckout::PAYMENT_METHOD_PAYPALEXPRESSCHECKOUT_CODE</argument>
        </arguments>
    </virtualType>
    <!-- /Value Handler Pool -->

    <!-- Command Pool -->
    <virtualType name="PayPalExpressCheckoutCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">PayPalBR\PayPal\Gateway\Transaction\Base\Command\InitializeCommand</item>
                <item name="authorize" xsi:type="string">PayPalExpressCheckoutAuthorizeCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPalExpressCheckoutAuthorizeCommand" type="PayPalBR\PayPal\Gateway\Transaction\PayPalExpressCheckout\Command\AuthorizeCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PayPalBR\PayPal\Gateway\Transaction\PayPalExpressCheckout\ResourceGateway\Create\RequestBuilder</argument>
            <argument name="responseHandler" xsi:type="object">PayPalExpressCheckoutAuthorizeCommandResponseHandlerPool</argument>
            <argument name="validator" xsi:type="object">PayPalBR\PayPal\Gateway\Transaction\PayPalExpressCheckout\ResourceGateway\Create\Response\Validator</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPalExpressCheckoutAuthorizeCommandResponseHandlerPool" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="general" xsi:type="string">PayPalBR\PayPal\Gateway\Transaction\PayPalExpressCheckout\ResourceGateway\Create\Response\GeneralHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- /Command Pool -->
    <!-- /PayPalExpressCheckout Adapter -->
    <type name="PayPalBR\PayPal\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="PayPalBR\PayPal\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">customLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">PayPalBR\PayPal\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

        <!-- PayPalBCDC Adapter -->
    <virtualType name="PayPalBCDCRemoteMethodAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">PayPalBR\PayPal\Model\PayPalBCDC::PAYMENT_METHOD_PAYPALBCDC_CODE</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPalBCDCValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">PayPalBCDCCommandPool</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">PayPalBR\PayPal\Block\Payment\Info\PayPalBCDC</argument>
        </arguments>
    </virtualType>

    <!-- Value Handler Pool -->
    <virtualType name="PayPalBCDCValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPalBCDCConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPalBCDCConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPalBCDCConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPalBCDCConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">PayPalBR\PayPal\Model\PayPalBCDC::PAYMENT_METHOD_PAYPALBCDC_CODE</argument>
        </arguments>
    </virtualType>
    <!-- /Value Handler Pool -->

    <!-- Command Pool -->
    <virtualType name="PayPalBCDCCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">PayPalBR\PayPal\Gateway\Transaction\Base\Command\InitializeCommand</item>
                <item name="authorize" xsi:type="string">PayPalBCDCAuthorizeCommand</item>
                <item name="refund" xsi:type="string">PayPalBCDCRefundCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPalBCDCAuthorizeCommand" type="PayPalBR\PayPal\Gateway\Transaction\PayPalBCDC\Command\AuthorizeCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PayPalBR\PayPal\Gateway\Transaction\PayPalBCDC\ResourceGateway\Create\RequestBuilder</argument>
            <argument name="responseHandler" xsi:type="object">PayPalBCDCAuthorizeCommandResponseHandlerPool</argument>
            <argument name="validator" xsi:type="object">PayPalBR\PayPal\Gateway\Transaction\PayPalBCDC\ResourceGateway\Create\Response\Validator</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPalBCDCRefundCommand" type="PayPalBR\PayPal\Gateway\Transaction\PayPalBCDC\Command\RefundCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PayPalBR\PayPal\Gateway\Transaction\PayPalBCDC\ResourceGateway\Refund\RequestBuilder</argument>
            <argument name="responseHandler" xsi:type="object">PayPalBCDCRefundCommandResponseHandlerPool</argument>
            <argument name="validator" xsi:type="object">PayPalBR\PayPal\Gateway\Transaction\PayPalBCDC\ResourceGateway\Create\Response\Validator</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPalBCDCAuthorizeCommandResponseHandlerPool" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="general" xsi:type="string">PayPalBR\PayPal\Gateway\Transaction\PayPalBCDC\ResourceGateway\Create\Response\GeneralHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPalBCDCRefundCommandResponseHandlerPool" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="general" xsi:type="string">PayPalBR\PayPal\Gateway\Transaction\PayPalBCDC\ResourceGateway\Refund\Response\GeneralHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- /Command Pool -->
    <!-- /PayPalBCDC Adapter -->
</config>
