<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="paypalbr" sortOrder="6" showInDefault="0" showInWebsite="0" showInStore="0">
                <group id="paypalbr_paypalplus" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PayPal Plus</label>
                    <comment>The experience of an unbranded checkout processed with PayPal security. The user makes the payment directly on your website using only his credit card, without the need of a PayPal account.</comment>
                    <fieldset_css>complex paypalbr-section</fieldset_css>
                    <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                    <attribute type="activity_path">payment/paypalbr_paypalplus/active</attribute>
                    <attribute type="displayIn">recommended_solutions</attribute>
                    <field id="active" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable this Solution</label>
                        <config_path>payment/paypalbr_paypalplus/active</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="exhibition_name" translate="label comment tooltip" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Exhibition Name</label>
                        <config_path>payment/paypalbr_paypalplus/exhibition_name</config_path>
                        <comment>It's going to be display on checkout: Credit Card 'Exhibition Name'</comment>
                        <tooltip>By default, the PayPal Plus solution is displayed as a 'Credit Card'. Use this option to set additional text, such as installments or discounts.</tooltip>
                    </field>
                    <field id="mode" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Mode</label>
                        <config_path>payment/paypalbr_paypalplus/mode</config_path>
                        <source_model>PayPalBR\PayPal\Model\Config\Source\Mode</source_model>
                        <comment>Use this option to switch between Sandbox and Live modes. Sandbox is used for testing and Live for actual purchases.</comment>
                    </field>
                    <field id="client_id_sandbox" translate="label comment" type="password" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Client ID (Sandbox)</label>
                        <config_path>payment/paypalbr_paypalplus/client_id_sandbox</config_path>
                        <comment>To generate the Client ID, access https://developer.paypal.com/developer/applications/ and look for the REST API Apps section.</comment>
                        <depends>
                            <field id="mode">1</field>
                        </depends>
                        <validate>required-entry</validate>
                    </field>
                    <field id="secret_id_sandbox" translate="label comment" type="password" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Secret ID (Sandbox)</label>
                        <config_path>payment/paypalbr_paypalplus/secret_id_sandbox</config_path>
                        <comment>To generate the Secret ID, access https://developer.paypal.com/developer/applications/ and look for the REST API Apps section.</comment>
                        <depends>
                            <field id="mode">1</field>
                        </depends>
                        <validate>required-entry</validate>
                    </field>
                    <field id="client_id_production" translate="label comment" type="password" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Client ID (Live)</label>
                        <comment>To generate the Client ID, access https://developer.paypal.com/developer/applications/ and look for the REST API Apps section.</comment>
                        <config_path>payment/paypalbr_paypalplus/client_id_production</config_path>
                        <depends>
                            <field id="mode">2</field>
                        </depends>
                    </field>
                    <field id="secret_id_production" translate="label comment" type="password" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Secret ID (Live)</label>
                        <config_path>payment/paypalbr_paypalplus/secret_id_production</config_path>
                        <comment>To generate the Secret ID, access https://developer.paypal.com/developer/applications/ and look for the REST API Apps section.</comment>
                        <depends>
                            <field id="mode">2</field>
                        </depends>
                    </field>
                    <field id="new_order_status" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>New Order Status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                        <config_path>payment/paypalbr_paypalplus/new_order_status</config_path>
                    </field>
                    <field id="reject_order_status" translate="label" type="select" sortOrder="0" showInDefault="0" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Reject Order Status</label>
                        <source_model>PayPalBR\PayPal\Model\Config\Source\Review</source_model>
                        <config_path>payment/paypalbr_paypalplus/reject_order_status</config_path>
                    </field>
                    <field id="review_order_status" translate="label" type="select" sortOrder="0" showInDefault="0" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Review Order Status</label>
                        <source_model>PayPalBR\PayPal\Model\Config\Source\Review</source_model>
                        <config_path>payment/paypalbr_paypalplus/review_order_status</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Checkout sequence</label>
                        <config_path>payment/paypalbr_paypalplus/sort_order</config_path>
                    </field>
                    <field id="depuration_mode" translate="label comment tooltip" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Depuration Mode</label>
                        <config_path>payment/paypalbr_paypalplus/depuration_mode</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>The logs will be saved at: var/log/paypalbr/paypal_plus/</comment>
                        <tooltip>Enable this mode to debug the application.</tooltip>
                    </field>
                    <field id="toggle" translate="label comment tooltip" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Create order from declined transactions</label>
                        <config_path>payment/paypalbr_paypalplus/toggle</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>When activated, declined transactions will generate orders</comment>
                    </field>
                    <field id="iframe_height_active" translate="label" type="select" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable fixed form height</label>
                        <config_path>payment/paypalbr_paypalplus/iframe_height_active</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="iframe_height" translate="label comment" type="text" sortOrder="1001" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Form height</label>
                        <config_path>payment/paypalbr_paypalplus/iframe_height</config_path>
                        <comment>Height in pixel ex: 500</comment>
                        <depends>
                            <field id="iframe_height_active">1</field>
                        </depends>
                    </field>
                </group>

                <group id="paypalbr_expresscheckout" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PayPal Smart Payment Button</label>
                    <comment>Traditional PayPal solution where your customer pay using his PayPal account or creates one on the purchase flow. Now your customer does not leave your website to complete the payment, all the purchase process happens on the same page with all PayPal protection and security.</comment>
                    <fieldset_css>complex paypalexpresscheckout-section</fieldset_css>
                    <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                    <attribute type="activity_path">payment/paypalbr_expresscheckout/active</attribute>
                    <attribute type="displayIn">recommended_solutions</attribute>


                    <group id="paypalbr_login_paypal" translate="label" showInDefault="1" showInWebsite="1" sortOrder="1">
                        <label>Login with PayPal</label>
                        <field id="active_login" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enable this Solution</label>
                            <config_path>payment/paypalbr_expresscheckout/active_login</config_path>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <comment>When activated, the customer will be able to use his PayPal account to login and pay faster</comment>
                        </field>
                    </group>
                    
                    <group id="paypalbr_login_paypal_minicart" translate="label" showInDefault="1" showInWebsite="1" sortOrder="1">
                        <label>PayPal Shortcut</label>
                        <field id="active_login_minicart" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enable this Solution</label>
                            <config_path>payment/paypalbr_expresscheckout/active_login_minicart</config_path>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <comment>When activated, the customer will be able to make the payment directly from the cart</comment>
                        </field>
                    </group>
                    
                    <group id="paypalbr_login_paypal_button" translate="label" showInDefault="1" showInWebsite="1" sortOrder="1">
                        <label>Button settings</label>                                                
                        <field id="active_login_button" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Text of button</label>
                            <config_path>payment/paypalbr_paypalplus/button_login_button</config_path>
                            <source_model>PayPalBR\PayPal\Model\Config\Source\Button</source_model>
                            <comment>Use this to customize the text of the button.</comment>
                        </field>
                        
                        <field id="active_login_shape" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Format of button</label>
                            <config_path>payment/paypalbr_paypalplus/button_login_shape</config_path>
                            <source_model>PayPalBR\PayPal\Model\Config\Source\Shape</source_model>
                            <comment>Use this to customize the format of button.</comment>
                        </field>
                        
                        <field id="active_login_color" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Color of button</label>
                            <config_path>payment/paypalbr_paypalplus/button_login_color</config_path>
                            <source_model>PayPalBR\PayPal\Model\Config\Source\Color</source_model>
                            <comment>Use this to customize the color of button.</comment>
                        </field>
                                                                    
                    </group>
                    
                    <field id="active" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable this Solution</label>
                        <config_path>payment/paypalbr_expresscheckout/active</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="exhibition_name" translate="label comment tooltip" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Exhibition Name</label>
                        <config_path>payment/paypalbr_expresscheckout/exhibition_name</config_path>
                        <comment>It's going to be display on checkout: PayPal 'Exhibition Name'</comment>
                        <tooltip>By default, the PayPal Express Checkout solution is displayed as a 'PayPal'. Use this option to set additional text, such as installments or discounts.</tooltip>
                    </field>
                    <field id="mode" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Mode</label>
                        <config_path>payment/paypalbr_expresscheckout/mode</config_path>
                        <source_model>PayPalBR\PayPal\Model\Config\Source\Mode</source_model>
                        <comment>Use this option to switch between Sandbox and Live modes. Sandbox is used for testing and Live for actual purchases.</comment>
                    </field>
                    <field id="client_id_sandbox" translate="label comment" type="password" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Client ID (Sandbox)</label>
                        <config_path>payment/paypalbr_expresscheckout/client_id_sandbox</config_path>
                        <comment>To generate the Client ID, access https://developer.paypal.com/developer/applications/ and look for the REST API Apps section.</comment>
                        <depends>
                            <field id="mode">1</field>
                        </depends>
                        <validate>required-entry</validate>
                    </field>
                    <field id="secret_id_sandbox" translate="label comment" type="password" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Secret ID (Sandbox)</label>
                        <config_path>payment/paypalbr_expresscheckout/secret_id_sandbox</config_path>
                        <comment>To generate the Secret ID, access https://developer.paypal.com/developer/applications/ and look for the REST API Apps section.</comment>
                        <depends>
                            <field id="mode">1</field>
                        </depends>
                        <validate>required-entry</validate>
                    </field>
                    <field id="client_id_production" translate="label comment" type="password" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Client ID (Live)</label>
                        <comment>To generate the Client ID, access https://developer.paypal.com/developer/applications/ and look for the REST API Apps section.</comment>
                        <config_path>payment/paypalbr_expresscheckout/client_id_production</config_path>
                        <depends>
                            <field id="mode">2</field>
                        </depends>
                    </field>
                    <field id="secret_id_production" translate="label comment" type="password" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Secret ID (Live)</label>
                        <config_path>payment/paypalbr_expresscheckout/secret_id_production</config_path>
                        <comment>To generate the Secret ID, access https://developer.paypal.com/developer/applications/ and look for the REST API Apps section.</comment>
                        <depends>
                            <field id="mode">2</field>
                        </depends>
                        <validate>required-entry</validate>
                    </field>
                    <field id="new_order_status" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>New Order Status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                        <config_path>payment/paypalbr_expresscheckout/new_order_status</config_path>
                    </field>
                    <field id="reject_order_status" translate="label" type="select" sortOrder="0" showInDefault="0" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Reject Order Status</label>
                        <source_model>PayPalBR\PayPal\Model\Config\Source\Review</source_model>
                        <config_path>payment/paypalbr_expresscheckout/reject_order_status</config_path>
                    </field>
                    <field id="review_order_status" translate="label" type="select" sortOrder="0" showInDefault="0" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Review Order Status</label>
                        <source_model>PayPalBR\PayPal\Model\Config\Source\Review</source_model>
                        <config_path>payment/paypalbr_expresscheckout/review_order_status</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Checkout sequence</label>
                        <config_path>payment/paypalbr_expresscheckout/sort_order</config_path>
                    </field>
                    <field id="depuration_mode" translate="label comment tooltip" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Depuration Mode</label>
                        <config_path>payment/paypalbr_expresscheckout/depuration_mode</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>The logs will be saved at: var/log/paypalbr/paypal_expresscheckout/</comment>
                        <tooltip>Enable this mode to debug the application.</tooltip>
                    </field>
                    <field id="toggle" translate="label comment tooltip" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Create order from declined transactions</label>
                        <config_path>payment/paypalbr_expresscheckout/toggle</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>When activated, declined transactions will generate orders</comment>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
